{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/patryktest/css/picker.css') }}" rel="stylesheet" />
    {{ form_stylesheet(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script src="{{ asset('bundles/patryktest/js/picker.js') }}"></script>
{% endblock %}
{% block body %}
    {{ form(form, {'attr': {'novalidate':'novalidate'} } ) }}
{% endblock %}